<div class="d-flex align-items-center">
    <iframe src="http://127.0.0.1:5500/app/mreng/src/assets/js/stl/index.html" height="1200" width="1300" title="Iframe Example"></iframe>
    <img class="flex-shrink-0 img-fluid rounded" [src]="product.src" alt="{{product.name}}" style="width: 250px;">
    <div class="w-100 d-flex flex-column text-start ps-4">
        <h5 class="d-flex justify-content-between border-bottom pb-2">
            <span>{{product.name}}</span>
            <span class="text-primary">enquire</span>
        </h5>
        <small class="fst-italic">{{product.description}}</small>
    </div>
</div>
